# Arquivos de compilação e saída
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/

# Configurações do Visual Studio
.vs/
*.user
*.suo
*.sln.docstates

# Configurações do VS Code
.vscode/
.history/

# Arquivos de configuração de ambiente (Segurança!)
appsettings.Development.json
appsettings.Local.json
*.Secret.json

# Dependências
packages/
node_modules/

# Arquivos temporários e de cobertura
*.tmp
*.temp
TestResults/
*.coverage
